@font-face {
    font-family: Roboto-Regular;
    src: url(./font/roboto/Roboto-Regular.woff);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(./font/roboto/Roboto-Thin.woff);
}

body {
    background-color: #f1f1f1;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: translateY(-35%);
}

.e,
.title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.result-robots,
.result-sitemap {
    position: absolute;
}

.result-head {
    font-family: Roboto-Thin;
    text-align: center;
}

hr {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(33, 166, 154);
}

.chip-section {
    width: 300px;
    align-self: center;
    text-align: center;
}

.chip {
 margin: 3px;   
}

.desc {
    font-family: Roboto-Thin;
    font-size: 18px;
    text-align: center;
}

.hit-the-floor {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.input-area {
    display: table;
    margin: 0 auto;
}

.input-field {
    float: left;
    width: 500px;
    padding-right: 50px;
}

.switch,
.btn {
    float: right;
    top: -10px;
}

#list-test {
    float: right;
    right: 400px;
}